.profile-container{

    min-height:100vh;

    background:#f5f9ff;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:30px;
    
    background:url("/profile.png") center/cover no-repeat;


}

.profile-card{

    width:550px;

    background:#fff;

    padding:35px;

    border-radius:15px;

    border: 1px solid #054f81;

      box-shadow:
        0 0 8px rgba(46, 86, 217, 0.45),
        0 0 20px rgba(82, 90, 244, 0.25);


    margin-left: 220px;

}

.profile-card h1{

    text-align:center;

    color:#0b5ed7;

    margin-bottom:30px;

}

.profile-field{

    margin-bottom:20px;

}

.profile-field label{

    display:block;

    margin-bottom:8px;

    font-weight:600;

    color:#444;

}

.profile-field input{

    width:100%;

    padding:12px;

    border:1px solid #dcdcdc;

    border-radius:8px;

    font-size:15px;

    outline:none;

}

.profile-field input:focus{

    border-color:#0b5ed7;

}

.profile-buttons{

    display:flex;

    gap:15px;

    justify-content:center;

    margin-top:25px;

}

.edit-btn,
.save-btn,
.logout-btn{

    border:none;

    padding:12px 25px;

    border-radius:8px;

    font-size:15px;

    cursor:pointer;

    transition:0.3s;

}

.edit-btn{

    background:#0b5ed7;

    color:white;

}

.save-btn{

    background:#198754;

    color:white;

}

.logout-btn{

    background:#dc3545;

    color:white;

}

.edit-btn:hover{

    background:#084298;

}

.save-btn:hover{

    background:#146c43;

}

.logout-btn:hover{

    background:#bb2d3b;

}

@media(max-width:992px){

    .profile-container{

        margin-left:0;

    }

}

@media(max-width:768px){

    .profile-card{

        width:100%;

    }

    .profile-buttons{

        flex-direction:column;

    }

}